<div class="scroll-container max-width2">
    <ul class="scrolling-text">
        <li>
            <div class="green-dot"></div>
        </li>
        <li>
            <span>Frontend Developer</span>
        </li>
        <li>
            <div class="green-dot"></div>
        </li>
        <li>
            <span>Based in Bayreuth</span>
        </li>
        <li>
            <div class="green-dot"></div>
        </li>
        <li>
            <span>Open to Work</span>
        </li>
        <li>
            <div class="green-dot"></div>
        </li>
        <li>
            <span>Available for Remote Work</span>
        </li>
    </ul>
    <ul class="scrolling-text">
        <li>
            <div class="green-dot"></div>
        </li>
        <li>
            <span>Frontend Developer</span>
        </li>
        <li>
            <div class="green-dot"></div>
        </li>
        <li>
            <span>Based in Bayreuth</span>
        </li>
        <li>
            <div class="green-dot"></div>
        </li>
        <li>
            <span>Open to Work</span>
        </li>
        <li>
            <div class="green-dot"></div>
        </li>
        <li>
            <span>Available for Remote Work</span>
        </li>
    </ul>
    <ul class="scrolling-text">
        <li>
            <div class="green-dot"></div>
        </li>
        <li>
            <span>Frontend Developer</span>
        </li>
        <li>
            <div class="green-dot"></div>
        </li>
        <li>
            <span>Based in Bayreuth</span>
        </li>
        <li>
            <div class="green-dot"></div>
        </li>
        <li>
            <span>Open to Work</span>
        </li>
        <li>
            <div class="green-dot"></div>
        </li>
        <li>
            <span>Available for Remote Work</span>
        </li>
    </ul>
</div>
<div class="scroll-writing-blur"></div>