<section>
    <div class="max-width">
        <div class="content-container">
            <div class="left-side">
                <div class="headline-container">
                    <h4>Contact me</h4>
                    <h3>Let's work together</h3>
                </div>
                <div class="contact-invitation-container">
                    <span>Got a problem to solve?</span>
                    <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
                    <div class="invitation">
                        <span>Need a frontend developer? </span><span>Let's talk!</span>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <app-contact-form></app-contact-form>
            </div>
        </div>
    </div>
</section>

