@import '../../../styles.scss';


header {
    height: 50px;
    margin-left: 96px;
    margin-right: 96px;
    position: absolute;
    top: 48px;
    left: 96px;
    right: 96px;
    @include dflex($jc: space-between);


    >nav {
        @include dflex($jc: space-between, $g: 24px);


        >a {
            @include font-style($ff: $second-font, $fs: 20px);
            text-decoration: none;
            // display: inline-block;
            position: relative;
            transition: color 0.125s ease-in-out;

            &:hover {
                cursor: pointer;
            }

            &::before {
                content: '';
                position: absolute;
                background: $brand-green;
                /* Punktfarbe */
                bottom: -10px;
                /* Unterhalb des Links */
                height: 8px;
                /* Höhe des Punkts */
                width: 8px;
                /* Breite des Punkts */
                left: 50%;
                /* Zentriert unter dem Text */
                transform: translateX(-50%);
                /* Korrigiert die zentrierte Position */
                border-radius: 50%;
                /* Runde Form für den Punkt */
                opacity: 0;
                /* Anfangs unsichtbar */
                transition: opacity 0.125s ease-in-out;
                /* Sanfter Übergang beim Hover */
            }

            &:hover::before {
                opacity: 1;
                /* Der Punkt wird sichtbar */
            }

        }
    }
}

.language-btn {
    width: 84px;
    height: 28px;
    border-radius: 100px;
    border: 1px solid;
    border-color: $brand-green;
    display: flex;
    transition: border-color 0.125s ease-in-out;

    &:hover {
        border-color: white;

        >.language-off {
            color: $brand-green;
            cursor: pointer;
        }
    }

    >div {
        @include dflex();
        width: 50%;
        border-radius: 100px;
    }
}

.p-relative {
    position: relative;
}

.language-on {
    >span {
        @include font-style($ff: $main-font, $fs: 16px);
    }

    background-color: $brand-green;
}


.language-off {
    @include font-style($ff: $main-font, $fs: 16px, $fc: #3DCFB680);
    transition: color 0.125s ease-in-out;
}


