<section>
    <div class="max-width">
        <div class="content-container">
            <div class="headline-container">
                <h4>Portfolio</h4>
                <h3>Featured Projects</h3>
            </div>
            <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
            <div class="projects">
                <div class="btn-separator"></div>
                <div class="project">
                    <div (click)="openPopup(0)" class="project-btn">
                        <div>
                            <span>Join</span>
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_6063_2668" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="23" height="23">
                                    <rect width="23" height="23" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_6063_2668)">
                                    <path
                                        d="M15.5675 8.3989L6.68683 17.2798C6.48047 17.486 6.25023 17.5841 5.99611 17.5742C5.742 17.5643 5.51184 17.4563 5.30564 17.2501C5.09927 17.0437 4.99609 16.8085 4.99609 16.5445C4.99609 16.2805 5.09927 16.0453 5.30564 15.8389L14.1566 6.98799H6.78674C6.50802 6.98799 6.27267 6.89248 6.08069 6.70145C5.88854 6.51026 5.79247 6.27603 5.79247 5.99875C5.79247 5.72148 5.88854 5.48556 6.08069 5.29102C6.27267 5.09664 6.50802 4.99945 6.78674 4.99945H16.5617C16.8405 4.99945 17.0759 5.09544 17.268 5.28743C17.46 5.47958 17.556 5.71501 17.556 5.99372V15.7687C17.556 16.0474 17.4605 16.2829 17.2695 16.475C17.0783 16.667 16.844 16.763 16.5668 16.763C16.2895 16.763 16.0537 16.667 15.8593 16.475C15.6647 16.2829 15.5675 16.0474 15.5675 15.7687V8.3989Z"
                                        fill="white" />
                                </g>
                            </svg>
                        </div>
                        <div>
                            <span class="technology">JavaScript</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">CSS</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">HTML</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">Firebase</span>
                        </div>
                    </div>
                    <div class="project-img1">
                        <div class="background-stripes"></div>
                        <img src="../../../assets/img/stand-in.jpg" alt="">
                    </div>
                </div>
                <div class="btn-separator"></div>
                <div class="project">
                    <div (click)="openPopup(1)" class="project-btn">
                        <div>
                            <span>El Pollo Loco</span>
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_6063_2668" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="23" height="23">
                                    <rect width="23" height="23" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_6063_2668)">
                                    <path
                                        d="M15.5675 8.3989L6.68683 17.2798C6.48047 17.486 6.25023 17.5841 5.99611 17.5742C5.742 17.5643 5.51184 17.4563 5.30564 17.2501C5.09927 17.0437 4.99609 16.8085 4.99609 16.5445C4.99609 16.2805 5.09927 16.0453 5.30564 15.8389L14.1566 6.98799H6.78674C6.50802 6.98799 6.27267 6.89248 6.08069 6.70145C5.88854 6.51026 5.79247 6.27603 5.79247 5.99875C5.79247 5.72148 5.88854 5.48556 6.08069 5.29102C6.27267 5.09664 6.50802 4.99945 6.78674 4.99945H16.5617C16.8405 4.99945 17.0759 5.09544 17.268 5.28743C17.46 5.47958 17.556 5.71501 17.556 5.99372V15.7687C17.556 16.0474 17.4605 16.2829 17.2695 16.475C17.0783 16.667 16.844 16.763 16.5668 16.763C16.2895 16.763 16.0537 16.667 15.8593 16.475C15.6647 16.2829 15.5675 16.0474 15.5675 15.7687V8.3989Z"
                                        fill="white" />
                                </g>
                            </svg>
                        </div>
                        <div>
                            <span class="technology">JavaScript</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">CSS</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">HTML</span>
                        </div>
                    </div>
                    <div class="project-img2">
                        <div class="background-stripes"></div>
                        <img src="../../../assets/img/stand-in.jpg" alt="">
                    </div>
                </div>
                <div class="btn-separator"></div>
                <div class="project">
                    <div (click)="openPopup(2)" class="project-btn">
                        <div>
                            <span>Pokedex</span>
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_6063_2668" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="23" height="23">
                                    <rect width="23" height="23" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_6063_2668)">
                                    <path
                                        d="M15.5675 8.3989L6.68683 17.2798C6.48047 17.486 6.25023 17.5841 5.99611 17.5742C5.742 17.5643 5.51184 17.4563 5.30564 17.2501C5.09927 17.0437 4.99609 16.8085 4.99609 16.5445C4.99609 16.2805 5.09927 16.0453 5.30564 15.8389L14.1566 6.98799H6.78674C6.50802 6.98799 6.27267 6.89248 6.08069 6.70145C5.88854 6.51026 5.79247 6.27603 5.79247 5.99875C5.79247 5.72148 5.88854 5.48556 6.08069 5.29102C6.27267 5.09664 6.50802 4.99945 6.78674 4.99945H16.5617C16.8405 4.99945 17.0759 5.09544 17.268 5.28743C17.46 5.47958 17.556 5.71501 17.556 5.99372V15.7687C17.556 16.0474 17.4605 16.2829 17.2695 16.475C17.0783 16.667 16.844 16.763 16.5668 16.763C16.2895 16.763 16.0537 16.667 15.8593 16.475C15.6647 16.2829 15.5675 16.0474 15.5675 15.7687V8.3989Z"
                                        fill="white" />
                                </g>
                            </svg>
                        </div>
                        <div>
                            <span class="technology">JavaScript</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">CSS</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">HTML</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">Rest-Api</span>
                        </div>
                    </div>
                    <div class="project-img3">
                        <div class="background-stripes"></div>
                        <img src="../../../assets/img/stand-in.jpg" alt="">
                    </div>
                </div>
                <div class="btn-separator"></div>
            </div>
        </div>
        @if(popupOpen && activeProject === projects[activeProject].projectId) {
        <div class="popup-overlay">
            <div class="max-width">
                <div class="popup-container" (click)="closePopup()">
                    <div class="popup" (click)="$event.stopPropagation()">
                        <div class="popup-content">
                        <div class="left-side-container">
                            <div class="left-side">
                                <div class="title">
                                    <span>{{projects[activeProject].projectNumber}}</span>
                                    <span>{{projects[activeProject].projectName}}</span>
                                </div>
                                <div class="description">
                                    <span>What is this Project about?</span>
                                    <p>{{projects[activeProject].projectDescription}}</p>
                                    <div class="techniques">
                                        @for(technique of projects[activeProject].techniques; track $index) {
                                        <div>
                                            <img src="{{projects[activeProject].techniqueSymbols[$index]}}" alt="">
                                            <span>{{projects[activeProject].techniques[$index]}}</span>
                                        </div>
                                        }
                                    </div>
                                </div>
                                <div class="links">
                                    <a routerLink="">
                                        <span>GitHub</span>
                                        <img src="../../../assets/img/thin-arrow-outward.png" alt="">
                                    </a>
                                    <a routerLink="">
                                        <span>Live Test</span>
                                        <img src="../../../assets/img/thin-arrow-outward.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="right-side-container">
                            <div class="right-side">
                                <img src="../../../assets/img/stand-in.jpg" alt="">
                                <div class="close-btn" (click)="closePopup()">
                                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <mask id="mask0_3296_3465" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="48" height="48">
                                        <rect width="48" height="48" fill="#D9D9D9"/>
                                        </mask>
                                        <g mask="url(#mask0_3296_3465)">
                                        <path d="M24.0001 25.454L16.8156 32.6385C16.6026 32.8512 16.3666 32.9512 16.1076 32.9385C15.8486 32.9255 15.6128 32.8127 15.4001 32.6C15.1874 32.3874 15.0811 32.145 15.0811 31.873C15.0811 31.6014 15.1874 31.359 15.4001 31.146L22.5461 24L15.3616 16.8655C15.1489 16.6525 15.0489 16.4102 15.0616 16.1385C15.0746 15.8669 15.1874 15.6245 15.4001 15.4115C15.6128 15.1989 15.8551 15.0925 16.1271 15.0925C16.3988 15.0925 16.6411 15.1989 16.8541 15.4115L24.0001 22.596L31.1346 15.4115C31.3476 15.1989 31.5836 15.0925 31.8426 15.0925C32.1016 15.0925 32.3374 15.1989 32.5501 15.4115C32.7708 15.6322 32.8811 15.8764 32.8811 16.144C32.8811 16.412 32.7708 16.6525 32.5501 16.8655L25.4041 24L32.5886 31.1845C32.8013 31.3975 32.9076 31.6335 32.9076 31.8925C32.9076 32.1515 32.8013 32.3874 32.5886 32.6C32.3679 32.8207 32.1238 32.931 31.8561 32.931C31.5881 32.931 31.3476 32.8207 31.1346 32.6L24.0001 25.454Z" fill="white"/>
                                        </g>
                                        </svg>
                                </div>
                                <div class="next-project-btn" (click)="nextProject()">
                                    <span>Next project</span>
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <mask id="mask0_3296_3474" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="4" width="32" height="32">
                                        <rect y="4" width="32" height="32" fill="#D9D9D9"/>
                                        </mask>
                                        <g mask="url(#mask0_3296_3474)">
                                        <path d="M22.7715 20.6667H7.33317C7.14339 20.6667 6.98484 20.603 6.8575 20.4757C6.73017 20.3484 6.6665 20.1898 6.6665 20C6.6665 19.8102 6.73017 19.6517 6.8575 19.5244C6.98484 19.397 7.14339 19.3334 7.33317 19.3334H22.7715L15.5205 12.082C15.3905 11.9522 15.3225 11.7992 15.3165 11.623C15.3105 11.447 15.3811 11.2855 15.5282 11.1384C15.6751 10.9966 15.8323 10.9244 15.9998 10.9217C16.1674 10.9192 16.3246 10.9915 16.4715 11.1384L24.5792 19.246C24.6956 19.3625 24.7773 19.4814 24.8242 19.6027C24.8713 19.724 24.8948 19.8565 24.8948 20C24.8948 20.1436 24.8713 20.276 24.8242 20.3974C24.7773 20.5187 24.6956 20.6376 24.5792 20.754L16.4715 28.8617C16.3468 28.9864 16.1952 29.053 16.0165 29.0617C15.8378 29.0701 15.6751 29.0035 15.5282 28.8617C15.3811 28.7146 15.3075 28.556 15.3075 28.386C15.3075 28.2158 15.3811 28.0572 15.5282 27.9104L22.7715 20.6667Z" fill="#3DCFB6"/>
                                        </g>
                                        </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</section>