<section>
    <div class="max-width">
        <div class="content-container">
            <div class="headline-container">
                <h4>Portfolio</h4>
                <h3>Featured Projects</h3>
            </div>
            <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
            <div class="projects">
                <div class="btn-separator"></div>
                <div class="project">
                    <div class="project-btn">
                        <div>
                            <span>Join</span>
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_6063_2668" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="23" height="23">
                                    <rect width="23" height="23" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_6063_2668)">
                                    <path
                                        d="M15.5675 8.3989L6.68683 17.2798C6.48047 17.486 6.25023 17.5841 5.99611 17.5742C5.742 17.5643 5.51184 17.4563 5.30564 17.2501C5.09927 17.0437 4.99609 16.8085 4.99609 16.5445C4.99609 16.2805 5.09927 16.0453 5.30564 15.8389L14.1566 6.98799H6.78674C6.50802 6.98799 6.27267 6.89248 6.08069 6.70145C5.88854 6.51026 5.79247 6.27603 5.79247 5.99875C5.79247 5.72148 5.88854 5.48556 6.08069 5.29102C6.27267 5.09664 6.50802 4.99945 6.78674 4.99945H16.5617C16.8405 4.99945 17.0759 5.09544 17.268 5.28743C17.46 5.47958 17.556 5.71501 17.556 5.99372V15.7687C17.556 16.0474 17.4605 16.2829 17.2695 16.475C17.0783 16.667 16.844 16.763 16.5668 16.763C16.2895 16.763 16.0537 16.667 15.8593 16.475C15.6647 16.2829 15.5675 16.0474 15.5675 15.7687V8.3989Z"
                                        fill="white" />
                                </g>
                            </svg>
                        </div>
                        <div>
                            <span class="technology">JavaScript</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">CSS</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">HTML</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">Firebase</span>
                        </div>
                    </div>
                    <div class="project-img1">
                        <div class="background-stripes"></div>
                        <img src="../../../assets/img/stand-in.jpg" alt="">
                    </div>
                </div>
                <div class="btn-separator"></div>
                <div class="project">
                    <div class="project-btn">
                        <div>
                            <span>El Pollo Loco</span>
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_6063_2668" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="23" height="23">
                                    <rect width="23" height="23" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_6063_2668)">
                                    <path
                                        d="M15.5675 8.3989L6.68683 17.2798C6.48047 17.486 6.25023 17.5841 5.99611 17.5742C5.742 17.5643 5.51184 17.4563 5.30564 17.2501C5.09927 17.0437 4.99609 16.8085 4.99609 16.5445C4.99609 16.2805 5.09927 16.0453 5.30564 15.8389L14.1566 6.98799H6.78674C6.50802 6.98799 6.27267 6.89248 6.08069 6.70145C5.88854 6.51026 5.79247 6.27603 5.79247 5.99875C5.79247 5.72148 5.88854 5.48556 6.08069 5.29102C6.27267 5.09664 6.50802 4.99945 6.78674 4.99945H16.5617C16.8405 4.99945 17.0759 5.09544 17.268 5.28743C17.46 5.47958 17.556 5.71501 17.556 5.99372V15.7687C17.556 16.0474 17.4605 16.2829 17.2695 16.475C17.0783 16.667 16.844 16.763 16.5668 16.763C16.2895 16.763 16.0537 16.667 15.8593 16.475C15.6647 16.2829 15.5675 16.0474 15.5675 15.7687V8.3989Z"
                                        fill="white" />
                                </g>
                            </svg>
                        </div>
                        <div>
                            <span class="technology">JavaScript</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">CSS</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">HTML</span>
                        </div>
                    </div>
                    <div class="project-img2">
                        <div class="background-stripes"></div>
                        <img src="../../../assets/img/stand-in.jpg" alt="">
                    </div>
                </div>
                <div class="btn-separator"></div>
                <div class="project">
                    <div class="project-btn">
                        <div>
                            <span>Pokedex</span>
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_6063_2668" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="23" height="23">
                                    <rect width="23" height="23" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_6063_2668)">
                                    <path
                                        d="M15.5675 8.3989L6.68683 17.2798C6.48047 17.486 6.25023 17.5841 5.99611 17.5742C5.742 17.5643 5.51184 17.4563 5.30564 17.2501C5.09927 17.0437 4.99609 16.8085 4.99609 16.5445C4.99609 16.2805 5.09927 16.0453 5.30564 15.8389L14.1566 6.98799H6.78674C6.50802 6.98799 6.27267 6.89248 6.08069 6.70145C5.88854 6.51026 5.79247 6.27603 5.79247 5.99875C5.79247 5.72148 5.88854 5.48556 6.08069 5.29102C6.27267 5.09664 6.50802 4.99945 6.78674 4.99945H16.5617C16.8405 4.99945 17.0759 5.09544 17.268 5.28743C17.46 5.47958 17.556 5.71501 17.556 5.99372V15.7687C17.556 16.0474 17.4605 16.2829 17.2695 16.475C17.0783 16.667 16.844 16.763 16.5668 16.763C16.2895 16.763 16.0537 16.667 15.8593 16.475C15.6647 16.2829 15.5675 16.0474 15.5675 15.7687V8.3989Z"
                                        fill="white" />
                                </g>
                            </svg>
                        </div>
                        <div>
                            <span class="technology">JavaScript</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">CSS</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">HTML</span>
                            <span class="technologies-separator">|</span>
                            <span class="technology">Rest-Api</span>
                        </div>
                    </div>
                    <div class="project-img3">
                        <div class="background-stripes"></div>
                        <img src="../../../assets/img/stand-in.jpg" alt="">
                    </div>
                </div>
                <div class="btn-separator"></div>
            </div>
        </div>
    </div>
</section>