<section>
    <div class="max-width content-container">
        <div class="headline-container">
            <h4>Portfolio</h4>
            <h3>Featured Projects</h3>
        </div>
        <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
        <div class="projects">
            <div class="btn-separator"></div>
            <div class="project">
                <div class="project-btn">
                    <span>Join</span>
                    <div>
                        <span class="technology">JavaScript</span>
                        <span class="technologies-separator">|</span>
                        <span class="technology">CSS</span>
                        <span class="technologies-separator">|</span>
                        <span class="technology">HTML</span>
                        <span class="technologies-separator">|</span>
                        <span class="technology">Firebase</span>
                    </div>
                </div>
                <div class="project-img1">
                    <div class="background-stripes"></div>
                    <img src="../../../assets/img/stand-in.jpg" alt="">
                </div>
            </div>
            <div class="btn-separator"></div>
            <div class="project">
                <div class="project-btn">
                    <span>El Pollo Loco</span>
                    <div>
                        <span class="technology">JavaScript</span>
                        <span class="technologies-separator">|</span>
                        <span class="technology">CSS</span>
                        <span class="technologies-separator">|</span>
                        <span class="technology">HTML</span>
                    </div>
                </div>
                <div class="project-img2">
                    <div class="background-stripes"></div>
                    <img src="../../../assets/img/stand-in.jpg" alt="">
                </div>
            </div>
            <div class="btn-separator"></div>
            <div class="project">
                <div class="project-btn">
                    <span>Pokedex</span>
                    <div>
                        <span class="technology">JavaScript</span>
                        <span class="technologies-separator">|</span>
                        <span class="technology">CSS</span>
                        <span class="technologies-separator">|</span>
                        <span class="technology">HTML</span>
                        <span class="technologies-separator">|</span>
                        <span class="technology">Rest-Api</span>
                    </div>
                </div>
                <div class="project-img3">
                    <div class="background-stripes"></div>
                    <img src="../../../assets/img/stand-in.jpg" alt="">
                </div>
            </div>
            <div class="btn-separator"></div>
        </div>
    </div>
</section>