<section>
    <div class="max-width content-height">
        <div class="content">
            <div class="content-left">
                <h4 class="h4-specifications">Technologies</h4>
                <div class="green-textbox">
                    <div class="text-container">
                        <h3>Skill Set</h3>
                        <div class="skill-set-paragraph">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit modi obcaecati in
                                aliquam, deserunt esse laboriosam voluptates ducimus debitis velit libero rerum,
                                delectus a non quos tenetur, sint dolorum quisquam.</p>
                            <div class="contact-invitation">
                                <h4 class="h4-specifications">
                                    <span class="white-color">You need </span>
                                    <span>another skill?</span>
                                </h4>
                                <p>Feel free to contact me. I look forward to expanding on my previous knowledge</p>
                            </div>
                        </div>
                        <app-button>Let's talk</app-button>
                    </div>
                </div>
            </div>
            <div class="content-right">
            </div>
        </div>
    </div>
</section>
<div class="test">
    <div class="test2"></div>
</div>