<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="form-structure">
        <div class="form-separator"></div>

        <!-- Name Input Field -->
        <div class="input-area">
            <label for="name">What's your name?</label>
            <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" [ngClass]="{
                    'error': nameError || (name.touched && (name.invalid || hasInvalidCharacters(name.value) || !hasTwoWords(contactData.name)))
                }" (blur)="checkNameFieldStatus(name)" [placeholder]="namePlaceholder" autocomplete="off" required>
        </div>

        <div class="form-separator"></div>

        <!-- Email Input Field -->
        <div class="input-area">
            <label for="email">What's your email?</label>
            <input #email="ngModel" [(ngModel)]="contactData.email" type="email" name="email" id="email" [ngClass]="{
                    'error': emailError || email.touched && (email.invalid || email.errors?.['pattern']),
                }" (blur)="checkEmailFieldStatus(email)" [placeholder]="emailPlaceholder" autocomplete="off" required
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
        </div>

        <div class="form-separator"></div>

        <!-- Message Textarea -->
        <div class="input-area">
            <label for="message">How can I help you?</label>
            <textarea #message="ngModel" rows="1" [(ngModel)]="contactData.message" name="message" id="message"
                [ngClass]="{
                    'error': messageError ||  message.touched && !message.valid,
                }" (blur)="checkMessageFieldStatus(message)" [placeholder]="messagePlaceholder" autocomplete="off"
                required></textarea>
        </div>

        <div class="form-separator"></div>

        <!-- <input type="text" name="hiddenField" style="display:none" [(ngModel)]="contactData.hiddenField"> -->
        <div class="custom-checkbox">
            <input type="checkbox" name="checkbox" id="checkbox" [(ngModel)]="isChecked" class="real-checkbox"
                (change)="onCheckboxChange()">
            <label class="custom-checkbox-label" for="checkbox">
                @if(isChecked) {
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_3296_3312" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                        height="24">
                        <rect width="24" height="24" fill="#797EF3" />
                    </mask>
                    <g mask="url(#mask0_3296_3312)">
                        <path
                            d="M10.6 13.4L8.45 11.25C8.26667 11.0667 8.03333 10.975 7.75 10.975C7.46667 10.975 7.23333 11.0667 7.05 11.25C6.86667 11.4333 6.775 11.6667 6.775 11.95C6.775 12.2333 6.86667 12.4667 7.05 12.65L9.9 15.5C10.1 15.7 10.3333 15.8 10.6 15.8C10.8667 15.8 11.1 15.7 11.3 15.5L16.95 9.85C17.1333 9.66667 17.225 9.43333 17.225 9.15C17.225 8.86667 17.1333 8.63333 16.95 8.45C16.7667 8.26667 16.5333 8.175 16.25 8.175C15.9667 8.175 15.7333 8.26667 15.55 8.45L10.6 13.4ZM5 21C4.45 21 3.97917 20.8042 3.5875 20.4125C3.19583 20.0208 3 19.55 3 19V5C3 4.45 3.19583 3.97917 3.5875 3.5875C3.97917 3.19583 4.45 3 5 3H19C19.55 3 20.0208 3.19583 20.4125 3.5875C20.8042 3.97917 21 4.45 21 5V19C21 19.55 20.8042 20.0208 20.4125 20.4125C20.0208 20.8042 19.55 21 19 21H5ZM5 19H19V5H5V19Z"
                            fill="#3DCFB6" />
                    </g>
                </svg>
                } @else {
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_3296_3306" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                        height="24">
                        <rect width="24" height="24" fill="#797EF3" />
                    </mask>
                    <g mask="url(#mask0_3296_3306)">
                        <path
                            d="M5 21C4.45 21 3.97917 20.8042 3.5875 20.4125C3.19583 20.0208 3 19.55 3 19V5C3 4.45 3.19583 3.97917 3.5875 3.5875C3.97917 3.19583 4.45 3 5 3H19C19.55 3 20.0208 3.19583 20.4125 3.5875C20.8042 3.97917 21 4.45 21 5V19C21 19.55 20.8042 20.0208 20.4125 20.4125C20.0208 20.8042 19.55 21 19 21H5ZM5 19H19V5H5V19Z"
                            fill="#3DCFB6" />
                    </g>
                </svg>
                }
                <div>
                    <div>
                        <span>I've read </span>
                        <a routerlink="">privacy policy</a>
                        <span> and agree to the processing of my data as outlined.</span>
                    </div>
                </div>

            </label>
            <div class="checkbox-reminder">
                <span [ngClass]="{ 'checkbox-error': checkboxError, 'no-checkbox-error': !checkboxError }">Please accept
                    the privacy policy.</span>
            </div>
        </div>
        <div class="submit-area">
            @if(formSubmitted) {
                <span class="success-message">Hooray! Your message is successfully on its way! I can't wait to hear from you!</span>
            } @else {
                <div class="fade-in-button">
                <app-button type="submit">Say Hello ;)</app-button>
            </div>
            }
        </div>
    </div>
</form>