@import '../../../../styles.scss';

.popup-overlay {
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-container {
    position: relative;
    height: 100%;
}

.popup {
    transform: translateY(-50%);
    transform-origin:top;
    position: absolute;
    top: 50%;
    left: 96px;
    right: 96px;
    aspect-ratio: 2 / 1;
    background: linear-gradient(55.22deg, $brand-black 36.26%, #08463B 93.28%);
    border-radius: 30px;
    border: 1px solid;
    border-color: $brand-green;
    @include dflex();
    height: auto;
    animation: upscale 0.4s ease-in-out;
}

@keyframes upscale {
    0% {
        transform: scale(0) translateY(-50%);
    }
    100% {
        transform: scale(1) translateY(-50%);
    }
}

.popup-content {
    height: min-content;
    @include dflex($ai: stretch);
}

.left-side-container {
    width: 50%;
}

.right-side-container {
    width: 50%;
    @include dflex($jc: flex-end, $ai: stretch);
}

.left-side {
    margin-left: 80px;
    @include dflex($ai: flex-start, $g: 40px);
    flex-direction: column;
}

.right-side {
    margin-right: 80px;
    @include dflex($jc: flex-end);
    position: relative;

    >img {
        width: 90%;
        aspect-ratio: 1.4 / 1;
        border-radius: 30px;
    }
}

.title {
    @include dflex($ai: flex-start, $g: 24px);
    flex-direction: column;

    >:first-child {
        @include font-style($fs: 128px, $fw: 700, $fc: $brand-green);
        line-height: 100px;
        user-select: none;
    }

    >:nth-child(2) {
        @include font-style($fs: 64px, $ff: $second-font, $fw: 700);
        line-height: 51px;
        user-select: none;
    }
}

.description {
    >span {
        @include font-style($fs: 24px, $ff: $second-font, $fc: $brand-green, $fw: 700);
        line-height: 29px;
        user-select: none;
    }

    >p {
        width: 90%;
        margin-top: 20px;
        @include font-style();
        line-height: 22px;
        user-select: none;
    }
}

.techniques {
    @include dflex($jc: flex-start, $g: 16px);

    >div {
        margin-top: 32px;
        @include dflex($g: 4px);

        >span {
            @include font-style($fs: 16px);
            line-height: 19px;
            user-select: none;
        }
    }
}

.links {
    @include dflex($g: 32px);

    >a {
        @include dflex($g: 4px);
        border: 1px solid;
        border-color: white;
        border-radius: 100px;
        padding-left: 24px;
        padding-right: 24px;
        height: 48px;
        transition: $standard-transition;
        background-color: transparent;

        >span {
            @include font-style();
        }

        >img {
            transition: $standard-transition;
        }

        &:hover {
            cursor: pointer;
            border-color: $brand-green;

            >img {
                transform: translate(6px, -2px);
            }

            >span {
                color: $brand-green;
            }
        }
    }
}

.close-btn {
    position: absolute;
    top: -24px;
    right: 0;

    >svg {
        transition: $standard-transition;
    }

    &:hover {
        cursor: pointer;

        >svg {
            transform: scale(1.4);
        }

        >svg path{
            fill: $brand-green;
        }
    }
}

.next-project-btn {
    position: absolute;
    bottom: -24px;
    right: 0;
    @include dflex($g: 8px);

    >span {
        @include font-style($fc: $brand-green);
        transition: $standard-transition;
    }

    >svg {
        transition: $standard-transition;
    }

    &:hover {
        cursor: pointer;

        >span {
            color: white;
        }

        >svg {
            stroke: $brand-green;
            stroke-width: 1;
            transform: translateX(4px);
        }
    }
}